h2{
    color:crimson;
    text-align: center;

}
body {
    background-image: url(ban.jpg);
    
}
.container{
    background-color: rgb(255, 148, 61);
    width: 500px;
    border-color: rgb(47, 250, 7);
    border-width: 2px;
    border-style: solid;
    margin: 0px auto;
    
    box-shadow: 3px 2px 1px 2px rgb(12, 12, 12);
    
}

.f_label{
    padding-left: 100px;
    margin: 35px 0px;
    
    }
.f_input{
    padding-left: 90px;
    margin: 35px 0px;
}
textarea{
    margin-left:  150px;;
}
button